<!DOCTYPE html>
<html lang="es">
    <head>
        <title>LOGIN</title>
    </head>    
    <body>

        <main>
            <div>
                <section>
                    <form id="bienvenidos" method="POST" class="conchita">
                        <section>
                            <h2>INICIAR SESIÓN</h2> <br>
                        </section>
                        <section>
                            <p>Ingresa tu usuario</p>
                            <input type="text" name="ingresarUsuario" placeholder="Usuario" required="required">  
                        </section>

                        <section>
                            <p>Ingresa tu contraseña</p>
                            <input type="password" name="ingresarContrasena" placeholder="Contraseña" required="required">
                        </section>
                        <form method="POST">
                        <section>
                            <input type="submit" name="btn" value="Entrar" class="boton1">
                        </section></form>
                    </form>
                </section>
                <br><br><form method="POST">
                <section id="bienvenidos">
                    <p>¿Aún no tienes una cuenta?</p>
                    <p>Crea una a continuación</p><br>
                    <input type="submit" name="btn" value="Crear Cuenta" class="boton1">
                </section></form>
                <section><br></section>
            </div>
        </main>

        <footer>
            <div class="contenedor-servicios">
                <p class="copy-servicios">FAC &copy; 2019</p>
                <div class="sociales-servicios">
                    <a class="icon-facebook" href="https://www.facebook.com/"></a>
                    <a class="icon-instagram" href="https://www.instagram.com/nicolas.delgado99/"></a>
                </div>
            </div>
        </footer>
    </body>
</html>